body {
    background-image: url("../img/bell-pepper-33623_960_720.png");
    background-size: cover;
}

span {

    font-size: 10em;
    font-family: monaco, helvetica, sans-serif;
    font-weight: lighter;
}


.container{
    margin: auto;
    text-align: center;
}

.realHidden{
    display: none;
}

#stop{
    background-color: red;
    border: none;
}

#backgroundPic{
    background-repeat: repeat;
}
