span {

    font-size: 10em;
    font-family: monaco, helvetica, sans-serif;
    font-weight: lighter;
}


.container{
    margin: auto;
    text-align: center;
}

.realHidden{
    display: none;
}

#stop{
    background-color: red;
    border: none;
}
